#event-gallery {
    padding: 20px;
    margin-top: 12rem;
    display: grid;
    gap: 20px;
}

.event {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 500px; /* Altura fija para todos los eventos */
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
}

.event:hover {
    transform: scale(1.05); /* Crece ligeramente el tamaño al hacer hover */
}

.event h2 {
    background: linear-gradient(to right, rgb(14, 13, 13), rgb(46, 46, 46));
    color: #e2e2e2;
    margin: 0;
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
}

.carousel {
    position: relative;
    width: 100%;
    height: calc(100% - 40px); /* Altura ajustada para el contenido del carrusel */
    overflow: hidden;
}

.carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.5s ease-in-out;
}

.carousel img.active {
    opacity: 1;
    position: relative;
}


.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}

/* Media Queries */
@media (max-width: 500px) {
    #event-gallery {
        grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
        margin-left: 1rem;
        margin-right: 1rem;

    }

    .event {
        height: 300px; /* Altura para pantallas pequeñas */
        margin-top: 1.5rem;
    }
}

@media (min-width: 501px) and (max-width: 800px) {
    #event-gallery {
        grid-template-columns: 1fr 1fr; /* Dos columnas para pantallas medianas */
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .event {
        height: 300px; /* Altura para pantallas medianas */
        margin-top: 1.5rem;
    }

    #event-gallery h2 {
        grid-column: span 2;
        text-align: center;
    }
}

@media (min-width: 801px) {
    #event-gallery {
        grid-template-columns: 1fr 1fr; /* Dos columnas para pantallas grandes */
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .event {
        height: 500px; /* Altura para pantallas grandes */
    }

    #event-gallery h2 {
        grid-column: span 2;
        text-align: center;
    }
}