#event-gallery {
    padding: 20px;
    margin-top: 12rem;
    display: grid;
    gap: 20px;
}

.event {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 500px; /* Altura fija para todos los eventos */
    box-sizing: border-box;
}

.event h2 {
    background: #333;
    color: #fff;
    margin: 0;
    padding: 20px;
    text-align: center;
}

.carousel {
    position: relative;
    width: 100%;
    height: calc(100% - 40px); /* Altura ajustada para el contenido del carrusel */
    overflow: hidden;
}

.carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Mantiene la relación de aspecto */
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.5s ease-in-out;
}

.carousel img.active {
    opacity: 1;
    position: relative;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}

/* Media Queries */
@media (max-width: 500px) {
    #event-gallery {
        grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
        margin-left: 1rem;
        margin-right: 1rem;

    }

    .event {
        height: 300px; /* Altura para pantallas pequeñas */
    }
}

@media (min-width: 501px) and (max-width: 800px) {
    #event-gallery {
        grid-template-columns: 1fr 1fr; /* Dos columnas para pantallas medianas */
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .event {
        height: 300px; /* Altura para pantallas medianas */
    }

    #event-gallery h2 {
        grid-column: span 2;
        text-align: center;
    }
}

@media (min-width: 801px) {
    #event-gallery {
        grid-template-columns: 1fr 1fr; /* Dos columnas para pantallas grandes */
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .event {
        height: 500px; /* Altura para pantallas grandes */
    }

    #event-gallery h2 {
        grid-column: span 2;
        text-align: center;
    }
}